*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: #FFFFFF;
}

.top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header{
    background-color: #252B42;
    padding: 10px 3%;
    color: #FFFFFF;
    font-size: 20px;
    
}

.top-header .contato{
    align-items: center;
    display: flex;
}
.contato h6{
    margin-right: 10px;
}

.contato img{
    margin-right: 10px;
}
.interface > .icones-sociais{
    display: flex;
    align-items: center;
    
}

.icones-sociais h6, a{
    margin-right: 5px;
}

.top-header .btn-social button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    
    
}

.bottom-header{
    padding: 10px 4%;
    
}



.bottom-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style-type:none;
}

.bottom-header nav ul li a{
    color: #737373;
    padding: 20px 10px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}

.bottom-header nav ul li a:hover{
    background-color:transparent;
    
}

.menu-Drop{
    position: relative;
    z-index: 1;
}

.menu-Drop .drop{
    position: absolute;
    background-color: transparent;
    right: -30px;
    width: 100;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menu-Drop .drop a{
    padding: 20px;
}

.menu-Drop:hover .drop{
    height: 80px;
}

.bottom-header .btn-diversos button{
    background-color: transparent;
    cursor: pointer;
    border: none;    
}


/* Slider  carrossel */
.slider {
    width: 100%;
    overflow: hidden;
}
  
.slider-container {
    display: flex;
    transition: transform 1s;
}
  
.carousel-slide {
    min-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-slide img {
    position: absolute;
    width: 100%;
    z-index: 0;
}
  
.carousel-content {

    position: relative;
    z-index: 1; 
    color: white;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    max-width: 40%; 
    margin-left: -40%;
    
    
}
  
.season {
    margin-bottom: 15px;
}
  
h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}
  
.description {

    margin: 10px 0;
}
  
.shop-now {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s 
  }
  
.shop-now:hover {
    background-color: #28a745;
}
  
/* Botões de navegação */
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 2;
}
  
.carousel-nav.prev {
    left: 10px;
}
  
.carousel-nav.next {
    right: 10px;
}

.global{
    background-color: #f0f0f0;
    
}
.dvi-texto {
    text-align: center;
    padding: 20px;
     
}

.dvi-texto p{
   color: #737373;
     
}


.grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1050px;
    padding: 10px;
    
}

.grid-item:nth-child(1){
    grid-row: 1/3;
    
}
.grid-item:nth-child(2){
    grid-row: 1/3;
    grid-column: 2;
    
}
.grid-item:nth-child(3){
    grid-row: 1;
    grid-column: 3;
    
}
.grid-item:nth-child(4){
    grid-row: 2;
    grid-column: 3;
    
}

.grid-item{
    display: grid;
}
.grid-item img{
    grid-column: 1;
    grid-row: 1/3;
}

.grid-item p{
    padding: 10px;
    grid-column: 1;
    grid-row: 2;
}

/* grid de produtos */
.product-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1050px;
    padding: 10px;
}

.div-texto2{
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

.product-card{
    text-align: center;
    padding: 20px;
}

.descricao-prod ul{
    list-style-type:none;
}

/*Estilização do campo de preços */
.descricao-prod ul li{
    margin-top: 10px;
}

.descricao-prod ul li span{
    color: #BDBDBD;
}
.descricao-prod ul li strong{
    color: #23856D;
}
.descricao-prod ul li p{
    color: #737373;
}

/*Carrosel 2*/

.slider2 {
    width: 100%;
    overflow: hidden;
}
  
.slider-container2 {
    display: flex;
    transition: transform 1s;
}
  
.carousel-slide2 {
    min-width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.carousel-slide2 img {
    position: absolute;
    width: 100%;
    z-index: 0;
}
  
.carousel-content2 {

    position: relative;
    z-index: 1; 
    color: white;
    text-align: left; 
    padding: 20px;
    border-radius: 8px;
    max-width: 40%; 
    margin-left: -40%; 
    
    
}
  
.season2 {
    margin-bottom: 15px;
}
  
h2 {
    font-size: 2.5rem;
    margin: 10px 0;
}
  
.description2 {
    margin: 10px 0;
}

.preco-btn{
    display: flex;
    align-items: center;
}
.preco-btn strong{
    margin-right: 30px;
}
.Add-to-cart {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s 
  }
  
.Add-to-cart:hover {
    background-color: #28a745;
}
  
/*Botões de navegação*/
.btn-carrossel2 .carousel-nav2 {
    position: absolute;
    top: 60%;
    transform: translateY(4300%);
    background-color:transparent;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 15;
}
  
.btn-carrossel2 .carousel-nav2.prev2 {
    left: 10px;
}
  
.btn-carrossel2 .carousel-nav2.next2 {
    right: 10px;
}

.global4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-text h4{
    color: #737373;
}

.btn-verde{
    margin-top: 10px;
}
.btn-verde{
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s
}
.btn-borda-verde{
    padding: 10px 20px;
    background-color: #FFFFFF;;
    color: #2DC071;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s
}


/* grid dos posts*/

.div-texto3{
    text-align: center;
    padding: 30px;
}
.grid-posts{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1050px;
    padding: 10px;

}

.descricao-post{
    margin-left: 10px;
}
.descricao-post ul{
    bottom: 30px;
    display: flex;
    list-style: none;
}
.descricao-post ul li{
    margin-right: 20px;

}

.calen-grafi{
    display: flex;
    justify-content: space-between;
}